---
layout: compress
---

{% include header.html %}

{% assign wordCount = page.content | number_of_words %}

<article class="c-stage c-article__single" id="content" itemscope itemtype="http://schema.org/BlogPosting" role="article">
  <div class="inner">
    <header class="c-article__header">
    <h1 class="c-header__headline">{{ page.title }}</h1>
    <div class="c-article__meta">
        {% if page.date %}
          <time itemprop="datePublished" datetime="{{ post.date | date: "%F" }}" class="meta__item">
            {{ page.date |  date: "%D" }}
          </time> <span class="meta__seperator">&mdash;</span>
        {% endif %}
        {% if page.category %}
          <span>{{ page.category }}</span>
          <span class="meta__seperator">&mdash;</span>
          {% endif %}
          <span class="meta__item"><span itemprop="wordCount">{{wordCount}}</span> words</span>
        </div>
    </header>
    <div class="c-article__body" itemprop="articleBody">
      {{ content }}
    </div>

    <footer class="c-article__footer">
      {% if page.category == 'coding' %}
        <div class="feedback">
          <h4 class="feedback--headline">Did you enjoy this?</h4>
          <p>I would appreciate your feedback on <a href="http://twitter.com/_kevinatari">Twitter</a> or just say Hi! <a href="http://codepen.io/pen">Happy coding!</a></p>
        </div>
      {% endif %}
        <div class="flex">
          <div class="flex-child">
            <p>
              {% for tag in page.tags %}
                <span class="article--tag"><a href="/tags/#{{ tag | downcase | replace:' ','_' }}">#{{ tag }}</a>
                  {% if forloop.last %}
                  {% else %}
                    &mdash;
                  {% endif %}
                </span>
              {% endfor %}
            </p>
          </div>
        <div class="flex-child">
          <p>Written by <a href="http://google.com/+KevinGimbel" rel="author" itemprop="author">Kevin Gimbel</a></p>
        </div>
      </div>
    {% include prev-next.html %}
    </footer>
  </div>
</div>
</article>
{% include footer.html %}
