.article-wrapper {
    margin: 2.5em 0 2.5em 2.5em;
    width: 100%;
    height: auto;
    max-width: 40em;
    font-size:120%;
}

.article__header {
    padding: 1.5em 0;
    border-bottom:1px solid $accentColor;
}

.article__headline   {
    font-size: 180%;
    line-height: 130%;
}

.article__date-time {
    display: inline;
    font-size: 70%;
}

.article__category {
    background: $grey;
    color:white;
    padding: .3em .5em;
    font-size: 70%;
    @include border-radius(3px);
}

.article__body {
    h3,h4,h5,h6,p {
        padding: 1em 0;
        line-height: 1.2em;
    }

    blockquote {
        margin: 1.5em 0;
        padding: 1em 1em 1em 2em;
        font-style: italic;
        border-left:1px solid $accentColor;
    }

    code {
        background: #f1f1f1;
        padding: .2em;
        @include border-radius(3px);
    }

    pre > code {
        background: none;
        padding: none;
    }
}

.latest-posts {
    width: 100%;
    height: auto;
    margin: 1.5em 0 5em 0;
}

.latest-posts__single-post {
    margin: 1em 0;
    padding: 1.5em 0;
}

.latest-posts__single-post--archive {
    margin:.5em 0 .5em 0;
    padding: .5em 0 1em 0;
    border-bottom:1px solid $grey;
}