.page--cv, .page--archive {
	width: 60%;
	height: auto;
	margin: 1.5em 0 1.5em 30em;
}
.page--cv {

		h3 {
		border-top:2px solid $accentColor;
		margin:2.5em 0 0 0 ;
		padding: .5em 0  1em 0;
		}

		p {
		padding: .5em 0;
		}

}