/*
 * Theme for kevingimbel.com
 * v2.0
 */
@import "core/vars",
        "core/mixins",
        "core/helper",
        "core/typography",
        "core/ui";

@import "objects/lists";

@import "includes/syntax", /* syntax highlight styles*/
        "includes/bullgrid"; /* grid system */

@import "modules/navigation",
        "modules/header",
        "modules/footer",
        "modules/article",
        "modules/cards",
        "modules/list",
        "modules/boxes",
        "modules/events",
        "modules/conditions";

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root, html {
  font-size: 16px;  
}

body {
  font:1rem/1.65 'Roboto Condensed', sans-serif; 
  width:100%;
  font-weight: 300;
  min-height:100%;
  background: #eee;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  color:$color--accent;
  text-decoration:none;
  border-bottom: 1px solid $color--main;

    &:hover {
      color:$color--main;
    }
}

ul, ol {
  margin: .5em 2.5em;
}

img {
  max-width: 100%;  
}

p {
  margin: 1em 0;
}

