/* @import "includes/syntax"; */
@import "core/mixins";
@import "core/typography";

@import "components/avatar";
@import "components/stage";
@import "components/header";
@import "components/footer";
@import "components/navigation";

@import "modules/article";
@import "modules/banner";
@import "modules/list";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font: 18px/1.65 'Droid Sans', sans;
  font-weight: 300;
}

ul {
  padding: 1.5rem 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

::selection {
  background: #01579B;
  color: #fff;
}

a::selection {
  text-shadow: none;
}

a {
  @include link_effects(#01579B, #fff);

  text-decoration: none;
  z-index: 2;
  position: relative;
    &:after {
      content: '';
      height: 2px;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      transform: scaleX(0);
      transition: linear .15s;
      background: currentColor;
      z-index: -1;
    }

    &:hover {
      &:after {
        transform: scaleX(1);
      }
    }
}

.copy {
  font-size: .75rem;
}

.love {
  animation: heart .5s linear;
  color: #D81B60;
}


.time {
  display: block;
  width: 100%;
  text-align: center;
}


.contrast {
  color: #f1f1f1;
  a {
    color: #80D8FF;
  }
}


nav {
  ul {
    text-align: center;
    li {
      display: inline-block;
      padding: 0 .5rem;
    }
  }
}

.backtop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.5rem;
}

.backtop > svg { display: none; }
.backtop.is-visible > svg {display: block;}

.header, .footer {
  font-family: 'Droid Serif', serif;
}

.header p {
  margin: 1rem 0 0 0;
}

.site__header--headline {
  text-align: center;
}

.avatar {
  float: left;
  clear: both;
  padding-right: 1rem;
  border-radius: 50%;
}

.header .intro {
  font-size: 1.25em;
}

.copy {
  text-align: center;
}

.anti-list {
  list-style: none;
}

.tag-list {
  padding: 2rem;
}

.tag-list:target {
  background: #80D8FF;
  a {
    @include link_effects(null, #80D8FF);
  }

}
