@mixin stripline($color,$height) {
  &:after {
  content:'';
  width:100%;
  height:$height;
  position:absolute;
  left:0;
  bottom:0;
  background-image:linear-gradient(90deg,
        transparent 0%,
        $color,
        transparent 100%);
  }  
}