h3 {
  margin-top: 2rem;
}

h3:not(.article--headline) {
  margin-bottom: 1rem;
  border-bottom: .125em solid currentColor;
}

.pre-heading {
  padding-top: 3rem;
}

p + p {
  margin-top: 1.5rem;
}

.pre-heading {
  display: block;
  padding-top: 1.75rem;
}

h1,h2,h3,h4,h5,h6, p,
.pre-heading, .c-article__footer {
  @include breakpoint("medium", "and down") {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}
