<section class="box  events">
	<h3>Events</h3>
	
  {% if site.data.events %}
  <p>A list of events I'll attend to. Come and say hi!</p>
  {% else %}
  <p>Currently there are no new events I'll attend. Know a good event? <a
    href="http://twitter.com/_kevinatari">Invite me!</a></p>
  {% endif %}


	{% for event in site.data.events %}

	<article class="event">
			<h4><a href="{{event.url}}">{{event.name}}</a></h4>
			<p>{{event.description}}</p>
			<footer>
				<ul class="list__equal">
					<li class="list__item">{{event.price}}</li>
					<li class="list__item">{{event.date}}</li>
				</ul>
			</footer>
	</article>
	
	{% endfor %}

</section>
