<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% if page.title %} {{ page.title }} &ndash; {% endif %} Kevin Gimbel &ndash; Web-Development, CSS, Sass, UI, UX, Thoughts, Hacks</title>
    <meta name="description" content="Front-End Developer from Frankfurt, Germany. I write about CSS, HTML, JS and UI/X.">
    <meta name="keywords" content="front-end,web,dev,development,frankfurt,germany,blog,writing,ui,ux,beginner,sass,scss,html,css,javascript">
    <meta name="viewport" content="width=device-width">
	<meta dns-prefetch="http://fonts.google.com" />
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@_kevinatari">
    <meta name="twitter:domain" content="http://kevingimbel.com">
    <meta name="twitter:title" content="{% if page.title %} {{ page.title }} &ndash; {% endif %} Kevin Gimbel &ndash; Web-Development, CSS, Sass, UI, UX, Thoughts, Hacks">
    <meta name="twitter:description" content="{{ page.excerpt | strip_html}} (Read more...)">
    <!-- 
    I use this solution by Christian Fei to remove the P tags from the excerpt. https://gist.github.com/christian-fei/41b51d9ad9fa55ccbb10 
    -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="alternate" type="application/atom+xml" title="kevingimbel.com Atom Feed" href="http://kevingimbel.com/atom.xml">
</head>
<body>
 <a href="" class="backtop" id="back-top"></a>

  <header class="site--header  g one-whole" id="site-header">
    <div class="header--inner">
        <a href="/">
          <img class="logo" src="/assets/img/2013_11_kevingimbel.jpg" alt="Kevin Gimbel (with funny, curly hair)" />
        </a>
        <div class="intro g one-whole text--center">
        <h1>Kevin Gimbel</h1>
        <p><span id="phrase">I build things.</span></p>
    <nav class="site--navigation" role="navigation">
      <ul>
        <li><a href="/" class="nav-item">Home</a></li>
        <li><a href="/about" class="nav-item">About</a></li>
        <li><a href="/cv" class="nav-item">CV</a></li>
        <li><a href="/archive" class="nav-item">Archive</a></li>
      </ul>
      <select name="mobile-menu" id="mobileMenu" class="nav--mobile">
        <option value="">MENU</option>
        <option value="http://kevingimbel.com/">Home</option>
        <option value="http://kevingimbel.com/about">About</option>
        <option value="http://kevingimbel.com/cv">CV</option>
        <option value="http://kevingimbel.com/archive">Archive</option>
      </select>
      </nav>
    </div> <!-- intro -->
</div> <!-- header--inner -->
</header>

<section class="wrapper gw">
  <section class="content  g one-whole {% if page.customclass %} {{page.customclass}} {% endif %}">
