<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% if page.title %} {{ page.title }} &ndash; {% endif %} Kevin Gimbel &ndash; Web-Development, CSS, Sass, UI, UX, Thoughts, Hacks</title>
    <meta name="description" content="Front-End Developer from Frankfurt, Germany. I write about CSS, HTML, JS and UI/X.">
    <meta name="keywords" content="front-end,web,dev,development,frankfurt,germany,blog,writing,ui,ux,beginner,sass,scss,html,css,javascript">
    <meta name="viewport" content="width=device-width">
	<meta dns-prefetch="http://fonts.google.com" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@_kevinatari">
    <meta name="twitter:domain" content="http://kevingimbel.com">
    <meta name="twitter:title" content="{% if page.title %} {{ page.title }} &ndash; {% endif %} Kevin Gimbel &ndash; Web-Development, CSS, Sass, UI, UX, Thoughts, Hacks">
    <meta name="twitter:description" content="{{ page.excerpt | strip_html}} (Read more...)">
    <!--
    I use this solution by Christian Fei to remove the P tags from the excerpt. https://gist.github.com/christian-fei/41b51d9ad9fa55ccbb10
    -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="alternate" type="application/atom+xml" title="kevingimbel.com Atom Feed" href="http://kevingimbel.com/atom.xml">
</head>
<body>
 <a href="" class="backtop" id="back-top"></a>

  <header class="site__header" id="site-header">

    {% include intro.html %}


    <nav class="site__navigation  wrap" role="navigation">
        <li class="nav__item {% if page.url == '/' %} active {% endif %}">
            <a href="/" class="nav-item">Home</a>
        </li>

        {% assign pages_list = site.pages %}
        {% assign group = 'site_navigation' %}

        {% include pages_list.html %}

      </ul>
      </nav>

      <select name="mobile-menu" id="mobileMenu" class="nav__mobile">
        <option value="">MENU</option>
        <option value="http://kevingimbel.com/">Home</option>
        <option value="http://kevingimbel.com/about">About</option>
        <option value="http://kevingimbel.com/cv">CV</option>
        <option value="http://kevingimbel.com/archive">Archive</option>
      </select>
</header>

<section class="wrapper {% if page.customclass %} {{page.customclass}} {% endif%}">
