{% include header.html %}
<section class="cv">
<h1>Curriculum vitae</h1>
  <article class="cv__skills">
    <ul class="cv__list">
      <h2 class="cv__list--name">Skills</h2>
      <li class="cv__list--item">
      <h3 class="cv__list--headline">Programming</h3>
      <p>Advanced HTML(5) and CSS(3), JavaScript, Basic PHP and MySQL</p>
      </li>

      <li class="cv__list--item">
        <h3 class="cv__list--headline">Software and Operating Systems</h3>
        <p>Sublime Text 2,Open Office and Microsoft Office, Adobe PhotoShop, Adobe InDesign 
        Windows XP to 7, Ubuntu,</p>
      </li>
      <li class="cv__list--item">
        <h3 class="cv__list--headline">Languages</h3>
        <p>German (native), English (fluent)</p>
      </li>
    </ul>
  </article>

  <article class="cv__work">
    <ul class="cv__list">
    <h2 class="cv__list--name">Interships</h2>
      <li class="cv__list--item">
        Couquillou, France Summer 2012
        <p>IT Assistant</p> 
      </li>

      <li class="cv__list--item">
        WERBEZWERG, 2010-2011
        <p>Web and Print Designer</p>  
      </li>
    </ul>
  </article>

  <article class="cv__school">
    <ul class="cv__list">
    <h2 class="cv__list--name">Education</h2>
      <li class="cv__list--item">
        Werner-Heisenberg-Schule, 2011 &ndash; 2013
        <p>Nationally certified IT Assistant.</p>
      </li>

      <li class="cv__list--item">
        Sophie-Scholl-Schule, 2004-2010
        <p>High-School Diploma</p>
      </li>
    </ul>
  </article>
</section>
{% include footer.html %}