.ಠ_ಠ {
  display: none !important;
}

.small-screen-only {
  display: none;
  @include breakpoint("tiny") {
    display: block;
  }
}

.large-screen-only {
  display: block;
  @include breakpoint("tiny") {
    display: none;
  }
}


.wrap {
  width:100%;
  height: auto;
  max-width: 70em;
  margin: 0 auto;
}

.wrapper {
  @extend .wrap;
  margin-top: -2em;
  background: #fff;
  padding: 2em 0;
  box-shadow: 2px 2px 10px rgba(0,0,0, .4); 
  transform: translateZ(1px);
  @include breakpoint("small") {
    padding: 1em 0;
  }
}
