/* Fonts */
$font--sans: 'Merriweather Sans', sans-serif;
$font--serif: 'Merriweather', serif;


/* Colors */
/* blue */
$color--main: #F49204;
$color--accent: #666;
/* used for decoration and accents */