/* Fonts */
$font--sans: 'Roboto', sans-serif; 
$font--serif: 'Roboto', sans-serif;

$font-weight--light: 300;
$font-weight--medium: 500;


/* Colors */
/* blue */
$color--main: #5677fc;
$color--contrast: #f50057;
$color--accent: #263238;
/* used for decoration and accents */