/* Fonts */
$font--sans: 'Roboto', Arial, sans-serif; 
$font--serif: 'Roboto', Arial, sans-serif;

$font-weight--light: 300;
$font-weight--medium: 500;


/* Colors */
/* blue */
$color--main: #1976D2;
$color--contrast: #E91E63; 
$color--accent: #263238;
