.article {
    margin: 0 auto 2.5em auto;
   		img {
			max-width: 100%;
		}

		h2 {
			border-bottom: 1px solid #ddd;
		}
}

.feedback {
    background: #eee;
    padding: 2em;
    margin-top: 2em;
    border-left: .15em solid $color--main;
}

.article__list {
  margin: 1em 0;
}
