.site__header {
    width: 100%;
    height: auto;
    padding: 2.5em;
    background: $color--main;;
    color: #fff;

    @include breakpoint("small") {
        padding-top: 1em;
    }

    h3 {
      @include breakpoint("small") {
        font-size: 1em;
      }
    }

    a:hover {
        color: #fff;
    }
}

.site__header--headline {
    @include breakpoint("small") {
        font-size: 1.2em;
        text-align: left;
    }
}
