

.site__header {
    width: 100%;
    height: auto;
    padding: 2.5em;
    background: #222;
    color: #fff;

    @include breakpoint("small") {
        padding: 1em;
    }

    h3 {
      @include breakpoint("small") {
        font-size: 1em;
      }
    }
}

.site__header--headline {
    @include breakpoint("small") {
        font-size: 1.4em;
    }
}
