.site__navigation {
  margin-top: 2em;

  ul {
    list-style: none;
  }
}

.nav__item {
  display: inline-block;
  margin-bottom: 2em;
  
  a {
    color: #fff;
    border: 1px solid #fff;
    padding: .5em 1em;
    margin-right: .5em;
    border-radius: 3px;
    transition: background ease-in .2s;

    &.active, &:hover {
      background: #fff;
      color: $color--main !important;
    }
  }
}