.site__navigation {
  margin-top: 2em;
  margin-bottom: .5em;

  ul {
    list-style: none;
  }

  @include breakpoint("small") {
    width: 45em;
  }
}

.nav__wrap {
  width: 100%;
  @include breakpoint("small") {
    overflow-x: scroll;
    /* if calc is supported we can get the correct width,
     * otherwise 150% is the fallback (in combination with
     * overflow: hidden; on the body) */
    width: 150%;
    width: calc(100% + 5em);
    overflow-x: scroll;
    margin-left: -2.5em;
  }
}

.nav__item {
  display: inline-block;
  margin-bottom: 2em;
  
  a {
    color: #fff;
    padding: .5em 1em;
    margin-right: .5em;
    border-bottom: 3px solid transparent;
    transition: all ease-in .2s;

    &.active, &:hover {
      color: $color--contrast !important;
      border-bottom: 3px solid $color--contrast;
    }
  }
}

.guide__nav {
  margin-bottom: 20px;
}

.guide__nav--link {
  padding: 1em;
  display: block;
  color: #fff;
  background: $color--contrast;
  transition: background ease-in .25s;
  border-bottom: none;
  &:hover {
    color: #fff;
    background: $color--main;
  }
}
