@import "compass";
@import "_includes/syntax"; /* syntax highlighting */
@import "_includes/helper.GRID"; /* Grid Helper */
@import url(http://weloveiconfonts.com/api/?family=entypo);

$baseFont:'Ubuntu', sans-serif;


/** 
 * Colors 
 */
$emw--color-alpha: #40a0be;
$emw--color-beta: #d5d5d5;
$emw--color-gamma: #f3f3f3;
$emw--color-delta: #333333;
$emw--color-epsilon: 0;



/** 
 * Units 
 */
$emw--unit-alpha: .5em;
$emw--unit-beta: 1em;
$emw--unit-gamma: 1.5em;
$emw--unit-delta: 2em;
$emw--unit-epsilon: 2.5em;

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

* {
  margin:0;
  padding:0;
  position:relative;
  @include box-sizing(border-box);
}

body {
  font:1rem/1.2rem $baseFont;
  color:#08050e;
  background:#fff;
  border-top:5px solid $emw--color-alpha;
}

a {
  color:$emw--color-alpha;
  text-decoration:none;
  border-bottom:1px solid $emw--color-alpha;
  
  &:hover {
    border-bottom:none;
    color:#08050e;
  }
}

.wrapper {
  width:100%;
  max-width:70em;
  margin:$emw--unit-delta auto;
  @extend %grid--father;
}

.page--cv {

    h3 {
      padding: $emw--unit-beta !important;
      border-bottom: 1px solid lighten($emw--color-delta,40%);
      border-top: 1px solid lighten($emw--color-delta,40%);
      margin-top:$emw--unit-beta;
    }
}

.sidebar {
  width:100%;
  max-width:17em;
  background:$emw--color-gamma;
  h1 {
    padding:$emw--unit-beta 0 0 $emw--unit-alpha;
    font-size:2em;
  }
  p {
    padding:$emw--unit-beta;
  }
  img {width:100%;}

  @extend %grid--son;
}


nav {
  width:100%;
  background:$emw--color-delta;
  padding:$emw--unit-alpha;

  li,a {
    display:inline;
    color:#fff; 
    text-decoration:none;
    border-bottom:none;
    padding:0 $emw--unit-beta 0 0;
      &:hover {
        color:$emw--color-alpha;
      }
  }
}

.social {
  margin:.5em 0;
}

.elsewhere {
  display: inline;
  padding: .5em;
  margin:0 0 .5em 0;
  color:black;
  border-bottom: none;

    &:hover {
      color:$emw--color-alpha;
    }
}

.content {
  width:100%;
  max-width:50em;
  margin-left:2em;
  line-height:1.65em;
  
  @extend %grid--son;
}

.single__article {
  margin-bottom:$emw--unit-epsilon;
  background:$emw--color-gamma;

  p {
    padding:$emw--unit-alpha $emw--unit-beta $emw--unit-beta $emw--unit-beta;
  }

  p > code {
    background: $emw--color-delta;
    padding: .3em .5em;
    color:#fff;
    @include border-radius(3px);
  }


  ul {
    padding:0 $emw--unit-delta;
    list-style-type:square;
  }

  img {
    width:100%;
  }

  h3,h4 {
    padding: $emw--unit-beta $emw--unit-beta 0 $emw--unit-beta;
  }
}

.single__article--headline {
  font:2.4em/2.2em $baseFont;
  padding:0 $emw--unit-alpha;
}
.single__article--footer {
  width:100%;
  height:auto;
  padding:$emw--unit-beta;
  color:darken($emw--color-beta,30%);
  font-size:.7em;
  
  @extend %grid--son;
  
  .single__article--footer-item {
    width:50%;
    @extend %grid--grandson;

    &:nth-child(2) {
      text-align: right;
    }
  }
}

.category {
  text-align:right;
}

table {
    width:100%;
    height: auto;
  }
  td {
    padding: $emw--unit-beta;
    background: #313131;
    color:#fff;
  }


.love {
  color:#D83A31;
}

@media all and (max-width:60em) {
body {
  font:1rem/1.2rem $baseFont;
  color:#08050e;
  background:#fff;
  border-top:5px solid $emw--color-alpha;
}

.wrapper {
  width:96%;
  margin:$emw--unit-delta auto;
  display:block;
}

.sidebar {
  width:100%;
  max-width:100%;
  background:$emw--color-gamma;
  display:block;
  margin-bottom: 1.5em;
  h1 {
    padding:$emw--unit-beta $emw--unit-beta 0 $emw--unit-alpha;
    font:2.5rem/2rem $baseFont;
  }
  p {
    padding:$emw--unit-beta;
  }
  img {display:none;}
}


.social {
  display: none;
}

nav {
  width:100%;
  background:$emw--color-delta;
  padding:$emw--unit-beta;

  li,a {
    display:inline;
    color:#fff; 
    text-decoration:none;
    padding:$emw--unit-beta;
    
      &:hover {
        background:$emw--color-alpha;
        color:#fff;
      }
  }
}

.content {
  width:100%;
  max-width:100%;
  line-height:1.65em;
  margin-left:0;
  display:block;
}

}