@import "compass";
@import "includes/syntax";
@import "includes/helper.GRID"; /* Grid Helper */

// FONTS
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://weloveiconfonts.com/api/?family=entypo);





$baseFont:'Oswald', sans-serif;
$secFont: 'Lato', sans-serif;
$break: 60em; /* grid break*/

@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 67em) { @content; }
  }
  @if $point == middle {
    @media (max-width: 55em) { @content; }
  }
  @if $point == small {
    @media (max-width: 35em) { @content; } 
  }
}



%ui--box-alpha {
  padding:1.5em;
}

/* blue */
$kg--color-alpha:#40a0be;
/* used for decoration and accents */

/* red */
$kg--color-beta: #d83a31;
/* used for decoration and accents */

* {
  margin:0;
  padding:0;
  @include box-sizing(border-box);
}

body {
  font:1em/1.65 $baseFont;
  width:100%;
  min-height:100%;
  @include background(linear-gradient(45deg, #27ae60, #2ecc71, #2980b9, #2980b9));    
}

a {
  color:$kg--color-alpha;
  text-decoration:none;
  
    &:hover {
      color:$kg--color-beta;
    }
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}


.wrapper {
  width:100%;
  max-width:50em;
  margin:2.5em auto;
}

/* Back To Top*/

.backtop {
    width:2.5em;
    height:2.5em;
    background:#333;
    position:fixed;
    top:1.5em;
    right: 1.5em;
    display:none;
    z-index: 9999;

        &:before {
            content:"\2b06";
            position: absolute;
            top:.5em;
            left:.85em;
            font-family: 'entypo', sans-serif;
        }
}

.displayed {
    display:block;
}


/* GRID STUFF. HURRAY! */

.one--half {
  width:50%;
  @extend %grid--son;
}


.site--header {
  width:100%;
  height:10em;
  max-width:$break;
  background:rgba(#333,.7);
  color:white;

  @include border-radius(3px);
  
  @extend %grid--father;
  
  
  
      @include breakpoint(middle) {
      width:95%;
      margin:2.5em auto;
      @extend %grid--father;
    
    
        .sidebar {
          width:30%;
  
            @extend %grid--son;

            img {
              width:10em;
              height:10em;
            }
        } // sidebar
    
    
        .intro {
            width:70%;
            padding:.5em 0 0 .5em;
  
            @extend %grid--son;
        }
    
    } // breakpoint middle
  
  
    @include breakpoint(small) {
      width:95%;
      margin:2.5em auto;
    
      @extend %grid--father;
    
    
        .sidebar {
          width:50%;
  
            @extend %grid--son;

            img {
              width:10em;
              height:10em;
            }
        } // sidebar
    
    
        .intro {
            width:50%;
            padding:.5em 0 0 .5em;
  
            @extend %grid--son;
        } // intro
    
      nav ul {
        display:none;
      }
    
      nav select {
        display:block;
        width:95%;
        background:darken(white,20%);
        color:#333;
        border:none;
        padding:.5em 1em;
        position:relative;
      
        
        @include appearance(none);
        @include border-radius(3px);
      }
    
    } // breakpoint small
}


.sidebar {
  width:20%;
  
  @extend %grid--son;

    img {
      width:100%;
      height:10em;
      @include border-top-left-radius(3px);
      @include border-bottom-left-radius(3px);
    }
}

nav {
  margin:.5em 0;
  li {
    display:inline;
    list-style-type:none;
    a {
      padding:.3em 1.4em; 
      background:#333;
      @include border-radius(3px);  
    
        &:hover {
          background: #dedede;
        }
    }
  }

  .nav--mobile {
    display:none;
  }  
} // nav

.intro {
  width:80%;
  padding:2em;
  
  @extend %grid--son;
}

article {
  font:1em/1.65 $secFont;
  margin:2.5em 0;
  background:rgba(#333,.7);
  color:darken(white,20%);
  position:relative;
  padding-top:2.5em;
  @include border-radius(3px); 
  
  @extend %ui--box-alpha;
  
  
  
  h2 {
    font:2.5em/2.2 $baseFont;
    margin:1em 0 0 0;
  }

  h3 {
    font:1.8em/2 $secFont;
  }

  h4 {
    font-size: 1.6em/1.8 $secFont;
  }
  
  
  @include breakpoint(small) {
    h2 {
      font:2.5em/1.2 $baseFont;
    }
  }
}

.article--first {
  margin:2.5em 0;
  background:rgba(#333,.7);
  color:darken(white,20%);
  position:relative;
  padding-top:2.5em;
  @include border-radius(3px); 
  
    &:before {
    /* red box on the first article */
      content:"LATEST POST";
      color:white;
      font-weight:400;
      font-family:$baseFont;
      letter-spacing:.31em;
      word-spacing:.31em;
      background:$kg--color-beta;
      border:1px solid darken($kg--color-beta,20%);
      padding:.5em;
      position:absolute;
      top:-1em;
      left:-1em;
    }
  
    &:after {
    /* little triangle after the box on the first article */
      width:0;
      height:0;
      border-left:1.4em solid darken($kg--color-beta,20%);
      border-top:1em solid transparent;
    
      content:"";
      position:absolute;
      top:-1em;
      left:8.85em;
    }
  
    @include breakpoint(middle) {
      width:95%;
      margin:2.5em auto;
      background:rgba(#333,.7);
      color:darken(white,20%);
      position:relative;
      padding-top:2.5em;
    
     &:before {
        left:1em;
      }
  
      &:after {
        left:10.85em;
      }
    }
}





.has--category {
  position:relative;  
    &:before {
    /* red box on the first article */
      content:attr(data-category);
      color:darken($kg--color-alpha,20%);
      text-transform:uppercase;
      width:8.75em; /* keep it equal.. :( */
     /* I hate using magic numbers */
      text-align:center;
      font-weight:400;
      font-family:$baseFont;
      letter-spacing:.31em;
      word-spacing:.31em;
      background:$kg--color-alpha;
      border:1px solid darken($kg--color-alpha,20%);
      padding:.5em;
      position:absolute;
      top:-1em;
      left:-1em;
    }
  
    &:after {
    /* little triangle after the box on the first article */
      width:0;
      height:0;
      border-left:1.4em solid darken($kg--color-alpha,20%);
      border-top:1em solid transparent;
    
      content:"";
      position:absolute;
      top:-1em;
      left:8.85em;
    }
  
      @include breakpoint(middle) {
      width:95%;
      margin:2.5em auto;
      background:rgba(#333,.7);
      color:darken(white,20%);
      position:relative;
      padding-top:2.5em;
    
     &:before {
        left:1em;
      }
  
      &:after {
        left:10.85em;
      }
    }
  
  
}

.article--read-more {
  display:block;
  text-align:right;
}

.article--footer {
  font-size:.8em;
  margin-top:1.5em;
  padding-top:.5em;
  border-top:1px solid rgba(white,.2);
    @extend %grid--father;
  
  
  .author {
    text-align:right;
  }
}