@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://weloveiconfonts.com/api/?family=entypo);
.highlight .hll {
  background-color: #333333;
}

.highlight {
  background: #111111;
  color: white;
  padding: 0.2em 0.9em;
  margin: 1em 0;
  font: normal normal normal 115%/normal 'Monaco', 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace !important;
  line-height: 1.1em;
  overflow: auto;
  font-size: 1.0em;
}

code, pre {
  font-family: "Consolas", "Courier New", "Courier", "FreeMono", monospace;
  font-size: 0.95em;
  margin: 1em 0 1.5em 0;
}

::-webkit-scrollbar {
  background: #333;
  height: .5em;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}

.highlight span {
  font-family: "Consolas", "Courier New", "Courier", "FreeMono", monospace;
  font-size: 1em;
}

.highlight .hll {
  background-color: #49483e;
}

.highlight {
  /*background: #272822;*/
  color: #f8f8f2;
}

.highlight .c {
  color: #75715e;
}

/* Comment */
.highlight .err {
  color: #960050;
  background-color: #1e0010;
}

/* Error */
.highlight .k {
  color: #66d9ef;
}

/* Keyword */
.highlight .l {
  color: #ae81ff;
}

/* Literal */
.highlight .n {
  color: #f8f8f2;
}

/* Name */
.highlight .o {
  color: #f92672;
}

/* Operator */
.highlight .p {
  color: #f8f8f2;
}

/* Punctuation */
.highlight .cm {
  color: #75715e;
}

/* Comment.Multiline */
.highlight .cp {
  color: #75715e;
}

/* Comment.Preproc */
.highlight .c1 {
  color: #75715e;
}

/* Comment.Single */
.highlight .cs {
  color: #75715e;
}

/* Comment.Special */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Strong */
.highlight .kc {
  color: #66d9ef;
}

/* Keyword.Constant */
.highlight .kd {
  color: #66d9ef;
}

/* Keyword.Declaration */
.highlight .kn {
  color: #f92672;
}

/* Keyword.Namespace */
.highlight .kp {
  color: #66d9ef;
}

/* Keyword.Pseudo */
.highlight .kr {
  color: #66d9ef;
}

/* Keyword.Reserved */
.highlight .kt {
  color: #66d9ef;
}

/* Keyword.Type */
.highlight .ld {
  color: #e6db74;
}

/* Literal.Date */
.highlight .m {
  color: #ae81ff;
}

/* Literal.Number */
.highlight .s {
  color: #e6db74;
}

/* Literal.String */
.highlight .na {
  color: #a6e22e;
}

/* Name.Attribute */
.highlight .nb {
  color: #f8f8f2;
}

/* Name.Builtin */
.highlight .nc {
  color: #a6e22e;
}

/* Name.Class */
.highlight .no {
  color: #66d9ef;
}

/* Name.Constant */
.highlight .nd {
  color: #a6e22e;
}

/* Name.Decorator */
.highlight .ni {
  color: #f8f8f2;
}

/* Name.Entity */
.highlight .ne {
  color: #a6e22e;
}

/* Name.Exception */
.highlight .nf {
  color: #a6e22e;
}

/* Name.Function */
.highlight .nl {
  color: #f8f8f2;
}

/* Name.Label */
.highlight .nn {
  color: #f8f8f2;
}

/* Name.Namespace */
.highlight .nx {
  color: #a6e22e;
}

/* Name.Other */
.highlight .py {
  color: #f8f8f2;
}

/* Name.Property */
.highlight .nt {
  color: #f92672;
}

/* Name.Tag */
.highlight .nv {
  color: #f8f8f2;
}

/* Name.Variable */
.highlight .ow {
  color: #f92672;
}

/* Operator.Word */
.highlight .w {
  color: #f8f8f2;
}

/* Text.Whitespace */
.highlight .mf {
  color: #ae81ff;
}

/* Literal.Number.Float */
.highlight .mh {
  color: #ae81ff;
}

/* Literal.Number.Hex */
.highlight .mi {
  color: #ae81ff;
}

/* Literal.Number.Integer */
.highlight .mo {
  color: #ae81ff;
}

/* Literal.Number.Oct */
.highlight .sb {
  color: #e6db74;
}

/* Literal.String.Backtick */
.highlight .sc {
  color: #e6db74;
}

/* Literal.String.Char */
.highlight .sd {
  color: #e6db74;
}

/* Literal.String.Doc */
.highlight .s2 {
  color: #e6db74;
}

/* Literal.String.Double */
.highlight .se {
  color: #ae81ff;
}

/* Literal.String.Escape */
.highlight .sh {
  color: #e6db74;
}

/* Literal.String.Heredoc */
.highlight .si {
  color: #e6db74;
}

/* Literal.String.Interpol */
.highlight .sx {
  color: #e6db74;
}

/* Literal.String.Other */
.highlight .sr {
  color: #e6db74;
}

/* Literal.String.Regex */
.highlight .s1 {
  color: #e6db74;
}

/* Literal.String.Single */
.highlight .ss {
  color: #e6db74;
}

/* Literal.String.Symbol */
.highlight .bp {
  color: #f8f8f2;
}

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #f8f8f2;
}

/* Name.Variable.Class */
.highlight .vg {
  color: #f8f8f2;
}

/* Name.Variable.Global */
.highlight .vi {
  color: #f8f8f2;
}

/* Name.Variable.Instance */
.highlight .il {
  color: #ae81ff;
}

/* Literal.Number.Integer.Long */
/**
 * bullgrid
 *
 * A grid based on the ideas of inuit.css gridsystem. 
 *
 *
 * @TODO [TimPietrusky] - center vertically / center horizontally 
 * @TODO [TimPietrusky] - Should we add support for IE <= 7?
 *
 *
 */
/**
 * Fluid and nestable grid system, e.g.:
 *
   <div class="gw">

     <div class="g one-third">
       <p>One third grid</p>
     </div>

     <div class="g two-thirds">
       <p>Two thirds grid</p>
     </div>

     <div class="g one-half">
       <p>One half grid</p>
     </div>

     <div class="g one-quarter">
       <p>One quarter grid</p>
     </div>

     <div class="g one-quarter">
       <p>One quarter grid</p>
     </div>

   </div>

   */
/**
 * Default spacing 
 */
/**
 * Micro clearfix. 
 */
.cf:after, .gw:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Grid wrapper
 */
.gw {
  /**
   * Negative margin to negate the padding on the first grid child.
   */
  margin-left: -1em;
  /**
   * The following declarations allow us to use the `.gw` class on lists.
   */
  list-style: none;
  margin-bottom: 0;
}
@media all and (max-width: 80em) {
  .gw {
    margin-left: -0.5em;
  }
}

/**
 * Reverse grid order
 *
   <div class="gw  gw--rev">

     <div class="g  one-third">
       <p>Appears on the right</p>
     </div>

     <div class="g  two-thirds">
       <p>Appears on the left</p>
     </div>

   </div>
 *
 */
.gw--rev > .g {
  float: right;
}

/**
 * Very infrequently occuring grid wrappers as children of grid wrappers.
 */
.gw > .gw {
  margin-left: 0;
}

/**
 * Grid
 *
 */
.g {
  float: left;
  padding-left: 1em;
}
@media all and (max-width: 80em) {
  .g {
    padding-left: 0.5em;
  }
}

/**
 *
 * Sizes in human readable format.
 *
 */
/**
 *
 * @TODO [TimPietruky] - Do we really need this?
 * 
 */
/*
 * Hidden
 */
.hidden {
  display: none;
}

/**
 * Whole
 */
.one-whole {
  width: 100%;
}

/**
 * Halves
 */
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
  width: 50%;
}

/**
 * Thirds
 */
.one-third, .two-sixths, .four-twelfths {
  width: 33.333%;
}

.two-thirds, .four-sixths, .eight-twelfths {
  width: 66.666%;
}

/**
 * Quarters
 */
.one-quarter, .two-eighths, .three-twelfths {
  width: 25%;
}

.three-quarters, .six-eighths, .nine-twelfths {
  width: 75%;
}

/**
 * Fifths
 */
.one-fifth, .two-tenths {
  width: 20%;
}

.two-fifths, .four-tenths {
  width: 40%;
}

.three-fifths, .six-tenths {
  width: 60%;
}

.four-fifths, .eight-tenths {
  width: 80%;
}

/**
 * Sixths
 */
.one-sixth, .two-twelfths {
  width: 16.666%;
}

.five-sixths, .ten-twelfths {
  width: 83.333%;
}

/**
 * Eighths
 */
.one-eighth {
  width: 12.5%;
}

.three-eighths {
  width: 37.5%;
}

.five-eighths {
  width: 62.5%;
}

.seven-eighths {
  width: 87.5%;
}

/**
 * Tenths
 */
.one-tenth {
  width: 10%;
}

.three-tenths {
  width: 30%;
}

.seven-tenths {
  width: 70%;
}

.nine-tenths {
  width: 90%;
}

/**
 * Twelfths
 */
.one-twelfth {
  width: 8.333%;
}

.five-twelfths {
  width: 41.666%;
}

.seven-twelfths {
  width: 58.333%;
}

.eleven-twelfths {
  width: 91.666%;
}

/**
 * Create the grids for different devices.
 */
@media all and (min-width: 80em) {
  /*
   * Hidden
   */
  .large-hidden {
    display: none;
  }

  /**
   * Whole
   */
  .large-one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  .large-one-half, .large-two-quarters, .large-three-sixths, .large-four-eighths, .large-five-tenths, .large-six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  .large-one-third, .large-two-sixths, .large-four-twelfths {
    width: 33.333%;
  }

  .large-two-thirds, .large-four-sixths, .large-eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .large-one-quarter, .large-two-eighths, .large-three-twelfths {
    width: 25%;
  }

  .large-three-quarters, .large-six-eighths, .large-nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .large-one-fifth, .large-two-tenths {
    width: 20%;
  }

  .large-two-fifths, .large-four-tenths {
    width: 40%;
  }

  .large-three-fifths, .large-six-tenths {
    width: 60%;
  }

  .large-four-fifths, .large-eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .large-one-sixth, .large-two-twelfths {
    width: 16.666%;
  }

  .large-five-sixths, .large-ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .large-one-eighth {
    width: 12.5%;
  }

  .large-three-eighths {
    width: 37.5%;
  }

  .large-five-eighths {
    width: 62.5%;
  }

  .large-seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .large-one-tenth {
    width: 10%;
  }

  .large-three-tenths {
    width: 30%;
  }

  .large-seven-tenths {
    width: 70%;
  }

  .large-nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .large-one-twelfth {
    width: 8.333%;
  }

  .large-five-twelfths {
    width: 41.666%;
  }

  .large-seven-twelfths {
    width: 58.333%;
  }

  .large-eleven-twelfths {
    width: 91.666%;
  }
}
@media all and (max-width: 80em) {
  /*
   * Hidden
   */
  .medium-hidden {
    display: none;
  }

  /**
   * Whole
   */
  .medium-one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  .medium-one-half, .medium-two-quarters, .medium-three-sixths, .medium-four-eighths, .medium-five-tenths, .medium-six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  .medium-one-third, .medium-two-sixths, .medium-four-twelfths {
    width: 33.333%;
  }

  .medium-two-thirds, .medium-four-sixths, .medium-eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .medium-one-quarter, .medium-two-eighths, .medium-three-twelfths {
    width: 25%;
  }

  .medium-three-quarters, .medium-six-eighths, .medium-nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .medium-one-fifth, .medium-two-tenths {
    width: 20%;
  }

  .medium-two-fifths, .medium-four-tenths {
    width: 40%;
  }

  .medium-three-fifths, .medium-six-tenths {
    width: 60%;
  }

  .medium-four-fifths, .medium-eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .medium-one-sixth, .medium-two-twelfths {
    width: 16.666%;
  }

  .medium-five-sixths, .medium-ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .medium-one-eighth {
    width: 12.5%;
  }

  .medium-three-eighths {
    width: 37.5%;
  }

  .medium-five-eighths {
    width: 62.5%;
  }

  .medium-seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .medium-one-tenth {
    width: 10%;
  }

  .medium-three-tenths {
    width: 30%;
  }

  .medium-seven-tenths {
    width: 70%;
  }

  .medium-nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .medium-one-twelfth {
    width: 8.333%;
  }

  .medium-five-twelfths {
    width: 41.666%;
  }

  .medium-seven-twelfths {
    width: 58.333%;
  }

  .medium-eleven-twelfths {
    width: 91.666%;
  }
}
@media all and (max-width: 30em) {
  /*
   * Hidden
   */
  .small-hidden {
    display: none;
  }

  /**
   * Whole
   */
  .small-one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  .small-one-half, .small-two-quarters, .small-three-sixths, .small-four-eighths, .small-five-tenths, .small-six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  .small-one-third, .small-two-sixths, .small-four-twelfths {
    width: 33.333%;
  }

  .small-two-thirds, .small-four-sixths, .small-eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .small-one-quarter, .small-two-eighths, .small-three-twelfths {
    width: 25%;
  }

  .small-three-quarters, .small-six-eighths, .small-nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .small-one-fifth, .small-two-tenths {
    width: 20%;
  }

  .small-two-fifths, .small-four-tenths {
    width: 40%;
  }

  .small-three-fifths, .small-six-tenths {
    width: 60%;
  }

  .small-four-fifths, .small-eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .small-one-sixth, .small-two-twelfths {
    width: 16.666%;
  }

  .small-five-sixths, .small-ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .small-one-eighth {
    width: 12.5%;
  }

  .small-three-eighths {
    width: 37.5%;
  }

  .small-five-eighths {
    width: 62.5%;
  }

  .small-seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .small-one-tenth {
    width: 10%;
  }

  .small-three-tenths {
    width: 30%;
  }

  .small-seven-tenths {
    width: 70%;
  }

  .small-nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .small-one-twelfth {
    width: 8.333%;
  }

  .small-five-twelfths {
    width: 41.666%;
  }

  .small-seven-twelfths {
    width: 58.333%;
  }

  .small-eleven-twelfths {
    width: 91.666%;
  }
}
/* grid system */
/* blue */
/* used for decoration and accents */
/* red */
/* used for decoration and accents */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 1em/1.65 "Lato", sans-serif;
  width: 100%;
  min-height: 100%;
}

a {
  color: #40a0be;
  text-decoration: none;
}
a:hover {
  color: #d83a31;
}

h2 {
  line-height: 1.8;
}

h3 {
  line-height: 1.6;
  margin-top: 1em;
}

h4 {
  margin-top: 1em;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 50em;
  margin: 2.5em auto;
}

/* Back To Top*/
.backtop {
  width: 2.5em;
  height: 2.5em;
  background: #333;
  position: fixed;
  top: 1.5em;
  right: 1.5em;
  display: none;
  z-index: 9999;
}
.backtop:before {
  content: "\2b06";
  position: absolute;
  top: .5em;
  left: .85em;
  font-family: 'entypo', sans-serif;
}

.displayed {
  display: block;
}

.site--header {
  width: 100%;
  height: auto;
  padding: 5em 0;
  margin-top: -3em !important;
  background: #fff;
  background: url("/assets/img/fancy_deboss.png");
}

.header--inner {
  margin: 0;
}
.header--inner .logo {
  margin: 0 auto;
  width: 10em;
  display: block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}

.site--navigation ul > li {
  list-style-type: none;
  display: inline;
  padding: 0 .5em 0 0;
}
@media all and (min-width: 80em) {
  .site--navigation .nav--mobile {
    display: none;
  }
}
@media all and (max-width: 80em) {
  .site--navigation .nav--mobile {
    display: none;
  }
}
@media all and (max-width: 30em) {
  .site--navigation .nav--mobile {
    display: block;
    background: #333;
    color: #ddd;
    padding: .5em 1em;
    margin: 0 auto;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* these two lines remove the drop-down arrow from firefox */
    text-indent: 0.01px;
    text-overflow: '';
  }
  .site--navigation ul > li {
    display: none;
  }
}

/* holds all the posts and pages */
.content {
  margin-top: 2.5em;
}
@media all and (max-width: 80em) {
  .content {
    padding: 0 1.5em;
  }
}

.article--large-preview {
  margin: 2.5em 0;
}
.article--large-preview h2 {
  font-size: 2.5em;
}

.article--short-preview {
  padding: 1em 0;
  border-top: 1px solid #cdcdcd;
  position: relative;
}
.article--short-preview h2 {
  padding-left: 2em;
  display: block;
  position: relative;
}
.article--short-preview h2:before {
  font-family: 'entypo', sans-serif;
  position: absolute;
  top: .3em;
  left: 0;
  padding: .2em .5em;
  color: #fff;
  font-size: .65em;
  border-radius: 100%;
}
.article--short-preview h2[data-category*="coding"]:before, .article--short-preview h2[data-category*="UI/X"]:before {
  content: "\e714";
  background: #2c3e50;
}
.article--short-preview h2[data-category*="mixtape"]:before {
  content: "\266a";
  background: #ff9900;
  padding: .2em .7em;
}
.article--short-preview h2[data-category*="link"]:before {
  content: "\27a6";
  background: #2ecc71;
  padding: .4em .6em;
}
.article--short-preview h2[data-category*="thoughts"]:before {
  content: "\e720";
  background: #c7956d;
}
.article--short-preview h2[data-category*="personal"]:before {
  content: "\1f464";
  background: #c7956d;
}
.article--short-preview:last-of-type {
  border-bottom: 1px solid #cdcdcd;
}

.archive-text--small {
  color: #a4a4a4;
  padding-top: .75em;
  font-size: .75em;
}

.article p > code {
  background: #333;
  color: #cdcdcd;
  padding: .2em .5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.article img {
  max-width: 100%;
}

.article--footer {
  margin: 1.5em 0 0 0;
  border-top: 1px solid #cdcdcd;
}

.text--right {
  text-align: right;
}

.text--center {
  text-align: center;
}

.love {
  color: #dd0606;
}

.site--footer {
  width: 100%;
  height: auto;
  background: #333;
  background: url("/assets/img/subtle_carbon.png");
  padding: 2.5em 0;
  color: #fff;
}
.site--footer .site--footer--inner {
  width: 100%;
  max-width: 50em;
  margin: 0 auto;
}
.site--footer .site--footer--inner ul li {
  list-style-type: none;
}
