@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);
/* Fonts */
/* Colors */
/* blue */
/* used for decoration and accents */
/*
  Basic vendor prefixing
  
  .my-class {
    @include vendor("box-sizing", "border-box");
  }
*/
/*
  breakpoint mixin

  Usage: 

  .my-class {
    padding: 2em;

    @include breakpoint("tiny") {
      padding: 1em;
    }
  }
*/
.ಠ_ಠ {
  display: none !important; }

.small-screen-only {
  display: none; }
  @media all and (max-width: 30em) {
    .small-screen-only {
      display: block; } }

.large-screen-only {
  display: block; }
  @media all and (max-width: 30em) {
    .large-screen-only {
      display: none; } }

.wrap, .wrapper {
  width: 100%;
  height: auto;
  max-width: 60em;
  margin: 0 auto; }

.wrapper {
  margin: 2.5em auto; }

h1, h2, h3 {
  font-family: 'Merriweather', serif; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.4em; }

.page--cv h3 {
  margin-top: 2em; }

.text--right {
  text-align: right; }

.text--center {
  text-align: center; }

.off-screen {
  top: -1px;
  padding: 0 0.25em;
  color: white;
  width: 100%;
  display: inline;
  text-align: right;
  position: relative;
  background: #F49204; }
  .off-screen:before {
    content: '';
    height: 100%;
    width: 9999px;
    position: absolute;
    top: 0;
    background: inherit;
    left: -9999px; }

.highlight .hll {
  background-color: #333333; }

.highlight {
  background: #111111;
  color: #ffffff;
  padding: 0.2em 0.9em;
  margin: 1em 0;
  font: normal normal normal 115%/normal 'Monaco', 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace !important;
  line-height: 1.1em;
  overflow: auto;
  font-size: 1em; }

code, pre {
  font-family: "Consolas", "Courier New", "Courier", "FreeMono", monospace;
  font-size: 0.95em;
  margin: 1em 0 1.5em 0; }

::-webkit-scrollbar {
  background: #333;
  height: 0.5em; }

::-webkit-scrollbar-thumb {
  background: #ccc; }

.highlight span {
  font-family: "Consolas", "Courier New", "Courier", "FreeMono", monospace;
  font-size: 1em; }

.highlight .hll {
  background-color: #49483e; }

.highlight {
  /*background: #272822;*/
  color: #f8f8f2; }

.highlight .c {
  color: #75715e; }

/* Comment */
.highlight .err {
  color: #960050;
  background-color: #1e0010; }

/* Error */
.highlight .k {
  color: #66d9ef; }

/* Keyword */
.highlight .l {
  color: #ae81ff; }

/* Literal */
.highlight .n {
  color: #f8f8f2; }

/* Name */
.highlight .o {
  color: #f92672; }

/* Operator */
.highlight .p {
  color: #f8f8f2; }

/* Punctuation */
.highlight .cm {
  color: #75715e; }

/* Comment.Multiline */
.highlight .cp {
  color: #75715e; }

/* Comment.Preproc */
.highlight .c1 {
  color: #75715e; }

/* Comment.Single */
.highlight .cs {
  color: #75715e; }

/* Comment.Special */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .kc {
  color: #66d9ef; }

/* Keyword.Constant */
.highlight .kd {
  color: #66d9ef; }

/* Keyword.Declaration */
.highlight .kn {
  color: #f92672; }

/* Keyword.Namespace */
.highlight .kp {
  color: #66d9ef; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #66d9ef; }

/* Keyword.Reserved */
.highlight .kt {
  color: #66d9ef; }

/* Keyword.Type */
.highlight .ld {
  color: #e6db74; }

/* Literal.Date */
.highlight .m {
  color: #ae81ff; }

/* Literal.Number */
.highlight .s {
  color: #e6db74; }

/* Literal.String */
.highlight .na {
  color: #a6e22e; }

/* Name.Attribute */
.highlight .nb {
  color: #f8f8f2; }

/* Name.Builtin */
.highlight .nc {
  color: #a6e22e; }

/* Name.Class */
.highlight .no {
  color: #66d9ef; }

/* Name.Constant */
.highlight .nd {
  color: #a6e22e; }

/* Name.Decorator */
.highlight .ni {
  color: #f8f8f2; }

/* Name.Entity */
.highlight .ne {
  color: #a6e22e; }

/* Name.Exception */
.highlight .nf {
  color: #a6e22e; }

/* Name.Function */
.highlight .nl {
  color: #f8f8f2; }

/* Name.Label */
.highlight .nn {
  color: #f8f8f2; }

/* Name.Namespace */
.highlight .nx {
  color: #a6e22e; }

/* Name.Other */
.highlight .py {
  color: #f8f8f2; }

/* Name.Property */
.highlight .nt {
  color: #f92672; }

/* Name.Tag */
.highlight .nv {
  color: #f8f8f2; }

/* Name.Variable */
.highlight .ow {
  color: #f92672; }

/* Operator.Word */
.highlight .w {
  color: #f8f8f2; }

/* Text.Whitespace */
.highlight .mf {
  color: #ae81ff; }

/* Literal.Number.Float */
.highlight .mh {
  color: #ae81ff; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #ae81ff; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #ae81ff; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #e6db74; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #e6db74; }

/* Literal.String.Char */
.highlight .sd {
  color: #e6db74; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #e6db74; }

/* Literal.String.Double */
.highlight .se {
  color: #ae81ff; }

/* Literal.String.Escape */
.highlight .sh {
  color: #e6db74; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #e6db74; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #e6db74; }

/* Literal.String.Other */
.highlight .sr {
  color: #e6db74; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #e6db74; }

/* Literal.String.Single */
.highlight .ss {
  color: #e6db74; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #f8f8f2; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #f8f8f2; }

/* Name.Variable.Class */
.highlight .vg {
  color: #f8f8f2; }

/* Name.Variable.Global */
.highlight .vi {
  color: #f8f8f2; }

/* Name.Variable.Instance */
.highlight .il {
  color: #ae81ff; }

/* Literal.Number.Integer.Long */
/**
 * bullgrid
 *
 * A grid based on the ideas of inuit.css gridsystem. 
 *
 *
 * @TODO [TimPietrusky] - center vertically / center horizontally 
 * @TODO [TimPietrusky] - Should we add support for IE <= 7?
 *
 *
 */
/**
 * Fluid and nestable grid system, e.g.:
 *
   <div class="gw">

     <div class="g one-third">
       <p>One third grid</p>
     </div>

     <div class="g two-thirds">
       <p>Two thirds grid</p>
     </div>

     <div class="g one-half">
       <p>One half grid</p>
     </div>

     <div class="g one-quarter">
       <p>One quarter grid</p>
     </div>

     <div class="g one-quarter">
       <p>One quarter grid</p>
     </div>

   </div>

   */
/**
 * Default spacing 
 */
/**
 * Micro clearfix. 
 */
.cf:after, .gw:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Grid wrapper
 */
.gw {
  /**
   * Negative margin to negate the padding on the first grid child.
   */
  margin-left: -1em;
  /**
   * The following declarations allow us to use the `.gw` class on lists.
   */
  list-style: none;
  margin-bottom: 0; }
  @media all and (max-width: 80em) {
    .gw {
      margin-left: -0.5em; } }

/**
 * Reverse grid order
 *
   <div class="gw  gw--rev">

     <div class="g  one-third">
       <p>Appears on the right</p>
     </div>

     <div class="g  two-thirds">
       <p>Appears on the left</p>
     </div>

   </div>
 *
 */
.gw--rev > .g {
  float: right; }

/**
 * Very infrequently occuring grid wrappers as children of grid wrappers.
 */
.gw > .gw {
  margin-left: 0; }

/**
 * Grid
 *
 */
.g {
  float: left;
  padding-left: 1em; }
  @media all and (max-width: 80em) {
    .g {
      padding-left: 0.5em; } }

/**
 *
 * Sizes in human readable format.
 *
 */
/**
 *
 * @TODO [TimPietruky] - Do we really need this?
 * 
 */
/*
   * Hidden
   */
.hidden {
  display: none; }

/**
   * Whole
   */
.one-whole {
  width: 100%; }

/**
   * Halves
   */
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
  width: 50%; }

/**
   * Thirds
   */
.one-third, .two-sixths, .four-twelfths {
  width: 33.333%; }

.two-thirds, .four-sixths, .eight-twelfths {
  width: 66.666%; }

/**
   * Quarters
   */
.one-quarter, .two-eighths, .three-twelfths {
  width: 25%; }

.three-quarters, .six-eighths, .nine-twelfths {
  width: 75%; }

/**
   * Fifths
   */
.one-fifth, .two-tenths {
  width: 20%; }

.two-fifths, .four-tenths {
  width: 40%; }

.three-fifths, .six-tenths {
  width: 60%; }

.four-fifths, .eight-tenths {
  width: 80%; }

/**
   * Sixths
   */
.one-sixth, .two-twelfths {
  width: 16.666%; }

.five-sixths, .ten-twelfths {
  width: 83.333%; }

/**
   * Eighths
   */
.one-eighth {
  width: 12.5%; }

.three-eighths {
  width: 37.5%; }

.five-eighths {
  width: 62.5%; }

.seven-eighths {
  width: 87.5%; }

/**
   * Tenths
   */
.one-tenth {
  width: 10%; }

.three-tenths {
  width: 30%; }

.seven-tenths {
  width: 70%; }

.nine-tenths {
  width: 90%; }

/**
   * Twelfths
   */
.one-twelfth {
  width: 8.333%; }

.five-twelfths {
  width: 41.666%; }

.seven-twelfths {
  width: 58.333%; }

.eleven-twelfths {
  width: 91.666%; }

/**
 * Create the grids for different devices.
 */
@media all and (min-width: 80em) {
  /*
   * Hidden
   */
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */
  .large-hidden {
    display: none; }
  .large-one-whole {
    width: 100%; }
  .large-one-half, .large-two-quarters, .large-three-sixths, .large-four-eighths, .large-five-tenths, .large-six-twelfths {
    width: 50%; }
  .large-one-third, .large-two-sixths, .large-four-twelfths {
    width: 33.333%; }
  .large-two-thirds, .large-four-sixths, .large-eight-twelfths {
    width: 66.666%; }
  .large-one-quarter, .large-two-eighths, .large-three-twelfths {
    width: 25%; }
  .large-three-quarters, .large-six-eighths, .large-nine-twelfths {
    width: 75%; }
  .large-one-fifth, .large-two-tenths {
    width: 20%; }
  .large-two-fifths, .large-four-tenths {
    width: 40%; }
  .large-three-fifths, .large-six-tenths {
    width: 60%; }
  .large-four-fifths, .large-eight-tenths {
    width: 80%; }
  .large-one-sixth, .large-two-twelfths {
    width: 16.666%; }
  .large-five-sixths, .large-ten-twelfths {
    width: 83.333%; }
  .large-one-eighth {
    width: 12.5%; }
  .large-three-eighths {
    width: 37.5%; }
  .large-five-eighths {
    width: 62.5%; }
  .large-seven-eighths {
    width: 87.5%; }
  .large-one-tenth {
    width: 10%; }
  .large-three-tenths {
    width: 30%; }
  .large-seven-tenths {
    width: 70%; }
  .large-nine-tenths {
    width: 90%; }
  .large-one-twelfth {
    width: 8.333%; }
  .large-five-twelfths {
    width: 41.666%; }
  .large-seven-twelfths {
    width: 58.333%; }
  .large-eleven-twelfths {
    width: 91.666%; } }

@media all and (max-width: 80em) {
  /*
   * Hidden
   */
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */
  .medium-hidden {
    display: none; }
  .medium-one-whole {
    width: 100%; }
  .medium-one-half, .medium-two-quarters, .medium-three-sixths, .medium-four-eighths, .medium-five-tenths, .medium-six-twelfths {
    width: 50%; }
  .medium-one-third, .medium-two-sixths, .medium-four-twelfths {
    width: 33.333%; }
  .medium-two-thirds, .medium-four-sixths, .medium-eight-twelfths {
    width: 66.666%; }
  .medium-one-quarter, .medium-two-eighths, .medium-three-twelfths {
    width: 25%; }
  .medium-three-quarters, .medium-six-eighths, .medium-nine-twelfths {
    width: 75%; }
  .medium-one-fifth, .medium-two-tenths {
    width: 20%; }
  .medium-two-fifths, .medium-four-tenths {
    width: 40%; }
  .medium-three-fifths, .medium-six-tenths {
    width: 60%; }
  .medium-four-fifths, .medium-eight-tenths {
    width: 80%; }
  .medium-one-sixth, .medium-two-twelfths {
    width: 16.666%; }
  .medium-five-sixths, .medium-ten-twelfths {
    width: 83.333%; }
  .medium-one-eighth {
    width: 12.5%; }
  .medium-three-eighths {
    width: 37.5%; }
  .medium-five-eighths {
    width: 62.5%; }
  .medium-seven-eighths {
    width: 87.5%; }
  .medium-one-tenth {
    width: 10%; }
  .medium-three-tenths {
    width: 30%; }
  .medium-seven-tenths {
    width: 70%; }
  .medium-nine-tenths {
    width: 90%; }
  .medium-one-twelfth {
    width: 8.333%; }
  .medium-five-twelfths {
    width: 41.666%; }
  .medium-seven-twelfths {
    width: 58.333%; }
  .medium-eleven-twelfths {
    width: 91.666%; } }

@media all and (max-width: 30em) {
  /*
   * Hidden
   */
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */
  .small-hidden {
    display: none; }
  .small-one-whole {
    width: 100%; }
  .small-one-half, .small-two-quarters, .small-three-sixths, .small-four-eighths, .small-five-tenths, .small-six-twelfths {
    width: 50%; }
  .small-one-third, .small-two-sixths, .small-four-twelfths {
    width: 33.333%; }
  .small-two-thirds, .small-four-sixths, .small-eight-twelfths {
    width: 66.666%; }
  .small-one-quarter, .small-two-eighths, .small-three-twelfths {
    width: 25%; }
  .small-three-quarters, .small-six-eighths, .small-nine-twelfths {
    width: 75%; }
  .small-one-fifth, .small-two-tenths {
    width: 20%; }
  .small-two-fifths, .small-four-tenths {
    width: 40%; }
  .small-three-fifths, .small-six-tenths {
    width: 60%; }
  .small-four-fifths, .small-eight-tenths {
    width: 80%; }
  .small-one-sixth, .small-two-twelfths {
    width: 16.666%; }
  .small-five-sixths, .small-ten-twelfths {
    width: 83.333%; }
  .small-one-eighth {
    width: 12.5%; }
  .small-three-eighths {
    width: 37.5%; }
  .small-five-eighths {
    width: 62.5%; }
  .small-seven-eighths {
    width: 87.5%; }
  .small-one-tenth {
    width: 10%; }
  .small-three-tenths {
    width: 30%; }
  .small-seven-tenths {
    width: 70%; }
  .small-nine-tenths {
    width: 90%; }
  .small-one-twelfth {
    width: 8.333%; }
  .small-five-twelfths {
    width: 41.666%; }
  .small-seven-twelfths {
    width: 58.333%; }
  .small-eleven-twelfths {
    width: 91.666%; } }

/* grid system */
.site__navigation {
  margin-top: 2em; }
  @media all and (max-width: 30em) {
    .site__navigation {
      display: none; } }
  .site__navigation ul {
    list-style: none; }
  .site__navigation .nav__item {
    display: inline; }
    .site__navigation .nav__item .active {
      background: #F49204; }
    .site__navigation .nav__item a {
      color: #fff;
      border: 1px solid #F49204;
      padding: 0.5em 1em;
      margin-right: 0.5em;
      border-radius: 3px; }
      .site__navigation .nav__item a:hover {
        background: #F49204;
        transition: background ease-in 0.2s; }

.nav__mobile {
  display: none; }
  @media all and (max-width: 30em) {
    .nav__mobile {
      display: block; } }

.site__header {
  width: 100%;
  height: auto;
  padding: 2.5em;
  background: #222;
  color: #fff; }
  @media all and (max-width: 30em) {
    .site__header {
      padding: 1em; } }

@media all and (max-width: 30em) {
  .site__header--headline {
    font-size: 1.4em; } }

/*
    Holds all the footers, e.g. site__footer and (if present) article__footer
*/
.site__footer {
  width: 100%;
  height: auto;
  border-top: 0.5em solid #F49204;
  padding: 5em;
  background: #333;
  color: #fff; }
  @media all and (max-width: 30em) {
    .site__footer {
      padding: 2.5em 1em; } }

.article {
  margin: 0 auto 2.5em auto; }
  @media all and (max-width: 80em) {
    .article {
      padding: 1em; } }

.feedback {
  background: #eee;
  padding: 2em;
  margin-top: 2em;
  border-left: 0.15em solid #F49204; }

/*
    Conditions, used by JavaScript
*/
.is-displayed {
  display: block; }

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif; }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font: 1em/1.65 'Merriweather Sans', sans-serif;
  width: 100%;
  min-height: 100%; }

a {
  color: #666;
  text-decoration: none;
  border-bottom: 1px solid #F49204; }
  a:hover {
    color: #F49204; }

/* Back To Top*/
.backtop {
  width: 2.5em;
  height: 2.5em;
  background: #333;
  position: fixed;
  top: 1.5em;
  right: 1.5em;
  display: none;
  z-index: 9999; }
  .backtop:before {
    content: "\2b06";
    position: absolute;
    top: 0.5em;
    left: 0.85em;
    font-family: 'entypo', sans-serif; }
