<span class="pre-heading">Recently I co-started:</span>
<h2><a href="https://www.kickstarter.com/projects/timpietrusky/bug-industries-a-card-dice-game-for-us-it-nerds">A Kickstarter Campaign!</a></h2>
<h5 class="m-banner__sub-headline">Tired of all those bugs that pop up while developing Software? They don't pop up, they invade!</h5>
<p><a href="https://twitter.com/BugIndustries">Bug Industries</a> is a game with cards and dices. Each player has an IT project assigned, in which a bunch of little, nasty bugs are hidden. 64 of these ulcer causing monsters must be eliminated for the project to run smoothly.</p>
<p>Support our <a href="https://www.kickstarter.com/projects/timpietrusky/bug-industries-a-card-dice-game-for-us-it-nerds">Kickstarter</a> and join the fight against Bug Industries!</p>
