.guide__nav {
	width: 100%;
	margin: .5em 0;
	@include clearfix;
}
.guide__nav--link {
	padding: .3em .5em;
	color:white;
	background: #40a0be;
	@include border-radius(3px);
	font-size: 70%;

		&:hover {
			background: #ccc;
			color:black;
		}
}

	.prev {
		float: left;
	}

	.next {
		float:right;
	}