.guide__nav {
	width: 100%;
	margin: .5em 0;
	@include clearfix;
}
.guide__nav--link {
	padding: .3em .5em;
	color:white;
	background: $accentColor;
	@include border-radius(3px);
	font-size: 70%;

		&:hover {
			background: $grey;
			color:black;
		}
}

	.prev {
		float: left;
	}

	.next {
		float:right;
	}