$break: 60em;
/* the father is always the container of a Grid system. In the example it's the .wrapper class */
 
%grid--father {
  letter-spacing:-0.31em;
 
}
 
 
/* every element of the Grid is a son. Notice: You need to apply the width to the specific class! */
%grid--son {
  letter-spacing:0em;
  display:inline-block;
  vertical-align:top;
}
 
 
/* third level nesting. It's a bit hacky but it works fine for Prototyping. */
%grid--grandson {
  letter-spacing:0em;
  display:inline-block;
  vertical-align:top;
  margin-left:-0.31em;
  &:first-of-type {
    margin-left:0em;
  }
}