.c-avatar {
  width: 10rem;
  height: 10rem;
  display: block;
  margin: 0 auto;
  text-align: center;
  background: #ddd;
  border: .25rem solid #fff;

  // Remove the image on error
  &.c-avatar__error {
    background: transparent;
    border: none;
    width: 20rem;
    max-width: 100%;
    height: 4rem;
    img {
      padding: .25rem;
      background: #fff;
      border-radius: 0;
    }
  }
}

.c-avatar,
.c-avatar__image {
  border-radius: 50%;
}

.c-avatar__image {
  display: inline;
  font-size: 1rem;
  line-height: 1;
}
