.c-header__intro,
.c-header__headline {
  text-align: center;
}
.c-header {
  padding-top: 3rem;
}

.theme__one {
  @include create_header_theme(#64FFDA, #4A148C);
}

.theme__two {
  @include create_header_theme(#827717 ,#FFEB3B);
}

.theme__three {
  @include create_header_theme(#795548, #80D8FF);
}

.theme__four {
  @include create_header_theme(#EFEBE9,#E91E63);
}

.theme__five {
  @include create_header_theme(#F8BBD0,#01579B);
}

@include breakpoint("medium", "and down") {
  .main__navigation {
    width: 100%;
    overflow: auto;
  }
  .main__navigation ul {
    width: 200%;
    overflow: auto;
    padding: 1rem 0;
    text-align: left;
  }
}
