---
layout: compress
---

{% include header.html %}
<section class="block__page">
    <h2>Archive</h2>

{% for post in site.posts  %}
    <article class="article__list">
        <div class="gw">
            <h2 class="g three-quarters small-one-whole" {% if post.category %} data-category="{{post.category}} " {% endif %}>
                <a href="{{post.url}}" title="Read the article '{{ post.title }}'">{{ post.title }}</a>
            </h2>
            <div class="g one-quarter small-one-whole text--right">
                <p>{{ post.date | date_to_string }} //
                    <span class="category  {{ post.category }}">{{ post.category }}</span>
                </p>
            </div>
        </div><!-- gw -->
    </article>
{% endfor %}
</section>
{% include footer.html %}
