{% include header.html %}
<article class="article">
    <h2>Archive</h2>
{% for post in site.posts  %}
    <article class="article article--short-preview"  {% if post.category %} data-category="{{post.category}}" {% endif %}>
        <div class="gw">
            <h2 class="g three-quarters" {% if post.category %} data-category="{{post.category}} " {% endif %}>
                <a href="{{post.url}}" title="Read the article '{{ post.title }}'">{{ post.title }}</a>
            </h2>
            <div class="g one-quarter  text--right">
                <p>{{ post.date | date_to_string }} // 
                    <span class="off-screen--right  {{ post.category }}">{{ post.category }}</span>
                </p>
            </div>
        </div><!-- gw -->
    </article>
{% endfor %}
</article>
{% include footer.html %}