{% include header.html %}

    {% assign counter=0 %}

    {% for post in site.posts %}    
    {% if counter == 0 %}
    <article class="article  article--large-preview">
        <h2><a href="{{ post.url }}" title="Read the article '{{ post.title }}'">{{ post.title }}</a></h2>
        {{ post.excerpt }}
        <a href="{{ post.url }}" title="Read more">Read more &rarr; </a>
    </article>
    
    {% else %}
    
    <article class="article  article--short-preview"  {% if post.category %} data-category="{{post.category}}" {% endif %}>
        <h2 {% if post.category %} data-category="{{post.category}} " {% endif %}>
            <a href="{{post.url}}" title="Read the article '{{ post.title }}'">{{ post.title }}</a>
        </h2>
    </article>

    {% endif %}
    {% assign counter=counter | plus:1 %}
  
  {% endfor %}
  
{% include footer.html %}