{% include header.html %}
<article class="article box">
            <nav class="guide__nav gw">
                  {% if page.prev_page %}
                  <div class="g one-half small-one-whole"> 
                        <a href="{{ page.prev_page }}" class="guide__nav--link prev">Previous Page</a> 
                  </div>
                  {% else %}
                  <div class="g one-half small-one-whole">&nbsp;</div>
                  {% else %}
                  <div class="g one-half small-one-whole">&nbsp;</div>
                  {% endif %}
                  {% if page.next_page %} 
                  <div class="g one-half small-one-whole">
                        <a href="{{ page.next_page }}" class="guide__nav--link next">Next Page</a>
                  </div> 
                  {% endif %}
            </nav>

            {{ content }}

            <nav class="guide__nav gw">
                  {% if page.prev_page %}
                  <div class="g one-half small-one-whole"> 
                        <a href="{{ page.prev_page }}" class="guide__nav--link prev">Previous Page</a> 
                  </div>
                  {% else %}
                  <div class="g one-half small-one-whole">&nbsp;</div>
                  {% endif %}
                  {% if page.next_page %} 
                  <div class="g one-half small-one-whole">
                        <a href="{{ page.next_page }}" class="guide__nav--link next">Next Page</a>
                  </div> 
                  {% else %}
                  <div class="g one-half small-one-whole">&nbsp;</div>
                  {% endif %}
            </nav>
</article>
{% include footer.html %}
