---
layout: compress
---

{% include header.html %}

<section class="stage">
  <div class="inner inner--tb">
    
    <nav class="flex post-nav">
    {% if page.prev_page %}
      <div class="flex-child  post-prev">
        <a href="{{ page.prev_page }}" class="guide__nav--link prev">Previous Page</a>
      </div>
    {% endif %}

    {% if page.next_page %}
      <div class="flex-child  post-next">
        <a href="{{ page.next_page }}" class="guide__nav--link next">Next Page</a>
      </div>
    {% endif %}
    </nav>

    {{ content }}

    <nav class="flex post-nav">
    {% if page.prev_page %}
      <div class="flex-child  post-prev">
        <a href="{{ page.prev_page }}" class="guide__nav--link prev">Previous Page</a>
      </div>
    {% endif %}

    {% if page.next_page %}
      <div class="flex-child  post-next">
        <a href="{{ page.next_page }}" class="guide__nav--link next">Next Page</a>
      </div>
    {% endif %}
    </nav>
  </div>
</section>
{% include footer.html %}
