{% include header.html %}
<article class="article  {% if post.category %} has--category" data-category="{{post.category}}{% endif %}">
    <h2>{{ page.title}}</h1>
    
    {{ content }}

    <footer class="article--footer gw">
      <time class="g one-half">
        {{ page.date | date_to_string }}
      </time>
      <div class="g one-half  text--right">
        written by <a href="http://google.com/+KevinGimbel">Kevin Gimbel</a>
      </div>
    </footer>

      <div class="feedback">
        <h4 class="feedback--headline">Enjoyed this &raquo;{{page.category}}&laquo; post?</h4>
          <p>I'd appreciate your feedback on <a href="http://twitter.com/_kevinatari">Twitter</a> as well as request for further posts about web-related stuff.</p>
      </div>
</article>
{% include footer.html %}