{% include header.html %}

{% assign tags_max = 0 %}
    {% for tag in site.tags %}
        {% if tag[1].size > tags_max %}
            {% assign tags_max = tag[1].size %}
        {% endif %}
    {% endfor %}
<section class="block__page">
{% for i in (1..tags_max) reversed %}
    {% for tag in site.tags %}
        {% if tag[1].size == i %}
            <article class="article__list">
                <h3 id="{{ tag[0] | downcase | replace:' ','_' }}">{{ tag[0] }}</h3>
                    <p>
                    {% for post in tag.last %}
                        <a href="{{ post.url }}">{{ post.title }}</a>
                        {% if forloop.last %}
                        {% else %} &bull; 
                        {% endif %}
                    {% endfor %}
                    </p>
            </article>
        {% endif %}
    {% endfor %}
{% endfor %}
</section>
{% include footer.html %}
