@import "compass";
@import "_includes/mixins"; /* own mixins */
@import "_includes/syntax"; /* syntax highlighting */

$mainFont  : 'Droid Sans', sans-serif;
$secnFont  : 'Droid Serif', serif;


$grey  : lighten(gray,10%);
$accentColor : #C0392B;

$link 		 : $accentColor;
$linkHover : darken($link, 15%);

* {
	margin: 0;
	padding: 0;
	position: relative;
	@include box-sizing(border-box);
}

body {
	width: 100%;
	height: 100%;
	min-height: 100%;
	font-family: $mainFont;
	color:#222222;
	background: #fff;
}

a {
	color:$link;
	text-decoration: none;
	@include transition(all .2s linear);
		&:hover {
			color:$linkHover;
		}
}

/*
	CUSTOM SCROLLBAR

*/

::-webkit-scrollbar {
	background: #ccc;
	width:.5em;
}
::-webkit-scrollbar-button {
	display: none;
}
::-webkit-scrollbar-track {
	background: #ccc;
}
::-webkit-scrollbar-thumb {
	background: #222;
}



.main-content {
	height: auto;
	
	max-width:40em;
	margin: 0 0 0 30em;
}

.single-section__header--headline {
	text-transform: uppercase;
	font-size: .8em;
	color:$grey;
	padding:.8em 0;
	margin:1em 0;
	border:0 solid #ccc;
	border-width:1px 0;
	letter-spacing: 0em;
}

.description--small {
	font-size: 70%;
	color:$grey;
}










/*

	$ARTICLE

	_includes/_article.scss
	
	Contents:
		- article-wrapper
		- article__header
		- article__headline
		- article__date-time
		- article__category
		- article__body
		- further-reading
		- further-reading--headline
		- further-reading--list

*/
@import "_includes/article";










/*
	$SIDEBAR

	_includes/_sidebar.scss

	Contents:
		- main-sidebar
		- main-sidebar__img--background
		- main-sidebar__img--avatar
		- main-sidebar__headline
		- main-sidebar__description


*/
@import "_includes/sidebar";










/*
	$NAV

	_includes/_nav.scss

	Contents:
		- nav
		- nav__item
		- nav__item a & a:hover
*/
@import "_includes/nav";










/*
	$RESUME

	_includes/_resume.scss

	Contents:
		- resume
		- resume__headline
		- resume__description
		- resume__description p
*/
@import "_includes/resume";










/*

	$CODEPEN

	_includes/_codepen.scss

	Contents:
		- codepen
		- codepen__pen
		- codepen__pen--image
		- codepen__info
		- codepen__header
		- codepen__header--title
		- codepen__description
		- codepen__footer
		- codepen__footer--stats
*/
@import "_includes/codepen";










/*	$CV

	_includes/_cv.scss

	Contents:
		- page--cv
		- page--archive
		- page--cv h3
		- page--cv p

*/
@import "_includes/cv";









/*	$GUIDE

	_includes/_guide.scss

	Contents:
		- guide__nav
		- guide__nav--link
		- prev
		- next

*/
@import "_includes/guide";










/*

	$RESPONSIVE

	_includes/_responsive.scss

	@media all, max-width: 60em

	Contents:
		- main-sidebar
		- main-sidebar__description
		- nav
		- nav__item
		- nav__item a
		- main-content
		- article-wrapper
*/
@import "_includes/responsive";