.c-article__single {
  p, h1,h2,h3 {
    margin: 1rem 0;
  }
}

p > code {
  color: #E91E63;
  background-color: #f1f1f1;
  padding: .125rem .75rem;
  border-radius: 3px;
}

.highlight {
  background: #454545;
  color: #f1f1f1;
  margin: 1rem 0;
}

pre {
  display: block;
  padding: 1rem;
  overflow: auto;
}


/*
 * Prev / Next
 */
.flex {
  display: flex;
    @include breakpoint("medium", "and down") {
      flex-direction: column;
    }
}

.flex-child {
  width: 100%;
}

.post-prev, .post-next {
  padding: 2rem 3rem;
  background: #f1f1f1;
  position: relative;
  overflow: hidden;

  a {
    text-shadow: none;
  }
}

.post-next, .post-prev {
  svg {
    position: absolute;
    top: .75em;
    fill: #E91E63;
  }
}

.post-next {
  text-align: right;
}

.post-next svg {
  transform: rotate(90deg) scale(4);
  right: 0.75em;
}

.post-prev svg {
  transform: rotate(-90deg) scale(4);
  left: 0.75em;
}

.c-article__footer {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}
