.c-article__single {
  p, h1,h2,h3 {
    margin: 1rem 0;
  }
}

p > code {
  color: #E91E63;
}

.highlight {
  background: #333;
  color: #fff;
  margin: 1rem 0;
}

pre {
  display: block;
  padding: 1rem;
  overflow: auto;
}


/*
 * Prev / Next
 */
.flex {
  display: flex;
    @include breakpoint("medium", "and down") {
      flex-direction: column;
    }
}

.flex-child {
  width: 100%;
}

.post-prev, .post-next {
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  a {
    text-shadow: none;
  }
}

.prev-next__small-intro.prev-next__small-intro.prev-next__small-intro {
  font-size: .85rem;
  margin: 0;
}


.c-article__header {
  margin-bottom: 2rem;
}


.c-article__meta {
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

.meta__seperator {
  padding: 0 1rem;
  color: #ddd;
}

.c-article__footer {
  padding-bottom: 1rem;
  font-size: 1rem;
}

.feedback {
  padding: 1rem;
  border: .25rem solid #333;
  margin-bottom: 2rem;
}
