.m-banner {
  font-family: 'Droid Sans', sans-serif;
  background: linear-gradient(to bottom, #fff, #fafaea);
  overflow: hidden;
  position: relative;
}

.m-banner--small {
  font-size: .95rem;

    .inner {
      padding: 1.5rem 1em;
    }
}

.m-banner--small .bug svg {
  max-height: 15rem;
}

.m-banner a {
  text-shadow: none;
  background: #023A45;
  padding: .25rem .5rem;
  border-radius: 3px;
  color: #2bde73;
}

.m-banner svg {
  width: 100%;
  max-height: 30rem;
  margin-top: -3rem;
}

.m-banner__sub-headline {
  text-transform: uppercase;
  color: #666;
  margin-bottom: 2rem;
}

.bug {
  position: absolute;
  right: 0;
  bottom: 0;
}

@include breakpoint("medium", "and down") {
  .m-banner .inner {
    background: rgba(255,255,255,.75);
    z-index: 2;
    position: relative;
  }
  .bug {
    position: absolute;
    right: 0;
    bottom: -7rem;
    opacity: .75;
    z-index: 1;
  }
}
