.block__page {
  background: #fff;
}
// this name is horrible. But I haven't found a better name to describe a, well, generic box thing.
// ui-box? box__default? I've no idea.
.box {
	background: #fff;
}

.box, .block__page {
  p, h2, h3, h4, h5, p {
    padding: 0 20px;
  }
}

.o-divider--small {
  margin: 1rem 0;
  border: none;
  background: #ddd;
  height: 1px;
  width: 100%;  
}
